@import url(./variables.css);

#product-section {
    padding: 20px 0;
}

.dsc-product-form-container {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
}

.dsc-input-error {
    border: 1px solid var(--dsc-color-error);
}

.dsc-form-error {
    color: var(--dsc-color-error);
    padding-left: 4px;
    font-size: 12px;
}

@media (min-width: 576px) {
    #product-section {
        padding: 40px 0;
    }
}

.dsc-form-product-button {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
}

@media (min-width: 576px) {
    .dsc-form h2 {
        font-size: 24px;
    }    
}