/* ELEMENTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url(./variables.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

html, body {
    background-color: var(--dsc-color-bg-primary);
}

main {
    padding: 0 20px;
}

/*  --------------------------------------------------------------------------
    Generic Styles
*/
.dsc-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.dsc-mb20 {
    margin-bottom: 20px;
}

/*  --------------------------------------------------------------------------
    Header Styles
*/
header {
    background-color: var(--dsc-color-bg-secondary);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

nav {
    color: var(--dsc-color-font-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 24px;
}

nav a {
    font-size: 14px;
    font-weight: 700;
}

/*  --------------------------------------------------------------------------
    Card Styles
*/
.dsc-card {
    border: 1px solid var(--dsc-color-card-border);
    border-radius: 8px;
    background-color: var(--dsc-color-card-bg);
}

.dsc-line-bottom {
    border-bottom: 1px solid var(--dsc-color-card-border);
}

/*  --------------------------------------------------------------------------
    Button Styles
*/
.dsc-btn {
    border-radius: 5px;
    height: 42px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dsc-btn-page-container {
     width: 100%;
     display: grid;
     grid-gap: 20px;
}

@media( min-width: 576px) {
    .dsc-btn-page-container {
        width: 220px;
    }
}

.dsc-btn-blue {
    background: var(--dsc-color-btn-primary);
    color: var(--dsc-color-btn-inverse);
}

.dsc-btn-white {
    border: 1px solid var(--dsc-color-btn-primary);
    background: var(--dsc-color-btn-inverse);
    color: var(--dsc-color-btn-primary);
}

.dsc-btn-next-page {
    border: 1px solid var(--dsc-color-btn-primary);
    padding: 10px;
    border-radius: 4px;
    color: var(--dsc-color-btn-primary);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}